body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bubblegum";
  src: url("../public/fonts/Bubblegum.ttf");
}
@font-face {
  font-family: "BubblegumSans";
  src: url("../public/fonts/BubblegumSans-Regular.ttf");
}
@font-face {
  font-family: "Perpetua";
  src: url("../public/fonts/PerpetuaTitlingMTLight2.ttf");
}
@font-face {
  font-family: "Pertibd";
  src: url("../public/fonts/pertibd.ttf");
}
@font-face {
  font-family: "Pertili";
  src: url("../public/fonts/PERTILI.TTF");
}
.text-stroke{
  -webkit-text-stroke: 2px #646D71;
}
.text-stroke-bold{
  -webkit-text-stroke: 6px #646D71;
}
.text-stroke-bold-blue{
  -webkit-text-stroke: 6px #99C1F5;
}
.text-stroke-blue{
  -webkit-text-stroke: 2px #99C1F5;
}